<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-10-internal.log">

    <variable value="t4mysql"
              name="appName" />
    <variable value="logs"
              name="logLocation" />
    <variable value="2018-02-24 12:01:31"
              name="copyTestTag" />

    <targets>

        <!-- 
        to support multiple instances
        fileName="${var:logLocation}/t4my-log-${cached:${date:format=yyMMdd-HHmmss}}.txt" 
        fileName="${cached:${var:logLocation}/t4my-log-${date:format=yyMMdd-HHmmss}}.txt" 
        -->
        <target name="nlog-text-file"
                xsi:type="File"
                fileName="${var:logLocation}/t4my-log-${shortdate}.txt"
                createDirs="true"
                layout=" ${longdate} | ${uppercase:${level}} | ${logger} | ${message} | ${callsite:includeNamespace=true:className=true:fileName=true:includeSourcePath=false:methodName=true} | ${onexception:inner=${exception:format=@,Data:maxInnerExceptionLevel=5} | ${stacktrace:format=Raw}}"
                archiveFileName="${var:logLocation}/archive/t4my-log-{##}.txt"
                archiveNumbering="DateAndSequence"
                archiveOldFileOnStartup="true"
                maxArchiveFiles="0">
        </target>

        <target name="nlog-console"
                xsi:type="Console"
                layout="${uppercase:${level}} | ${logger} | ${message} | ${callsite:includeNamespace=true:className=true:fileName=true:includeSourcePath=false:methodName=true} | ${onexception:inner=${exception:format=@,Data:maxInnerExceptionLevel=5} | ${stacktrace:format=Raw}}" />

        <!-- Useful only for non-console apps 
        <target xsi:type="Debugger"
                name="debuglogger"
                layout="${uppercase:${level}}-${logger} ${message} ${newline}${exception:format=tostring}">
        </target>
        -->

    </targets>

    <rules>
        <logger name="*"
                minlevel="Info"
                writeTo="nlog-console,nlog-text-file">
            <!-- Not needed for this app
                <filters>
                    <when condition="starts-with(logger, 'Microsoft')"
                    action="Ignore" />
                    <when condition="starts-with(logger, 't4my')"
                    action="Log" />
                </filters>
            -->
        </logger>
    </rules>
</nlog>
